html {
    
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: rgb(23, 74, 83);
}
#app{
    display: grid;
    border: 4px solid green;
    background-color: black;
    grid-template-columns: 1fr 1fr;
}
.load-more{
    padding: 1rem 2rem;
}
/* .persons { */
    /* display:none */
/* } */